#!/usr/bin/env bash

# rename this file to developer_id.env and then update with your information

# replace the name and team ID with the name of the developer certificate in the keychain
dev_id="Developer ID Application: My Name (123ABC456)"


# create an app-specific password https://support.apple.com/en-us/HT204397
# and update with your appleID, teamID, and app-specific password
notarytool_credentials="--apple-id me@example.com --team-id 123ABC456 --password abcd-efgh-ijkl-mnop"
